// ../../../variables

$gray: rgb(75, 210, 44); // replace with your actual gray color value
$secondary: rgb(116, 31, 31); // replace with your actual secondary color value
$surface: rgb(241, 4, 4); // replace with your actual surface color value
